body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

tr:nth-child(even) {background-color: lightgrey}
tr:nth-child(1) {background-color: red}
tr:nth-child(2) {background-color: orange}
tr:nth-child(3) {background-color: yellow}
tr:nth-child(4) {background-color: lime}
tr:nth-child(5) {background-color: green; color: white;}
tr:nth-child(6) {background-color: cyan}
tr:nth-child(7) {background-color: blue; color: white;}
tr:nth-child(8) {background-color: purple; color: white;}
tr:nth-child(9) {background-color: violet}
tr:nth-child(10) {background-color: pink}

table {
  /*border: 1px solid black;*/
  margin: auto;
  overflow:  auto;
  display: block;
}

th {
  border: 3px solid black;
  background-color: white;
  font-size: 20px;
}

td {
  border: 3px solid black;
  font-size: 20px;
}

button {
    background-color: #0066ff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button.active {
  background-color: red;
}

.rc-table-row {
  font-size: 30px;
  border: 1px solid black;
  color: @text-color;
  transition: opacity 0.3s ease;
  line-height: @line-height;
  overflow: hidden;

  .@rc-table-scroll {
    overflow: auto;
  }

  .@rc-table-header {
    overflow: hidden;
    background: @table-head-background-color;
  }
}
